# Binaries for programs and plugins
*.exe
*.bin
*.exe~
*.dll
*.so
*.dylib
*.log
var
# IDE
.vscode

# Go Module
vendor
*.sum

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out
cover.*

.env

build