vpc= {
    cidr          = "10.2.0.0/16",
    dns_hostnames = true,
    dns_support   = true,
    tenancy       = "default",
    public_subnets  = ["10.2.0.0/24","10.2.1.0/24","10.2.2.0/24"],
    private_subnets = ["10.2.3.0/24","10.2.4.0/24","10.2.5.0/24"],
    elasticache_subnets = []
    rds_subnets     = []
  }

kops_cluster =  {
  cluster_name ="test"
  dns_zone = "shanux.com" # replace with your own hosted zone
  kubernetes_version = "1.20.7"
  worker_node_type = "t3.large"
  min_worker_nodes  = 1
  max_worker_nodes = 5
  master_node_type  = "t3.medium"
  region = "us-west-2"
  state_bucket = "kops-state-accurics" # Replace with your own
  node_image = "099720109477/ubuntu/images/hvm-ssd/ubuntu-focal-20.04-amd64-server-20210415"
  nodes = [
    {
      name = "nodes",
      role = "agent",
      instanceType = "t3.large"
      minSize = 1,
      maxSize = 5,
    },
    {
      name = "bastion",
      role = "agent",
      instanceType = "t3.large"
      minSize = 1,
      maxSize = 5,
    },
    {
      name = "elasticsearch",
      role = "agent",
      instanceType = "t3.large"
      minSize = 1,
      maxSize = 5,
    },
    {
      name = "ivanhoe",
      role = "agent",
      instanceType = "t3.large"
      minSize = 1,
      maxSize = 5,
    }
  ]
  # List of available addons: https://github.com/kubernetes/kops/tree/master/addons
  addons = [
    "metrics-server"
  ]
}
